<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    {{#block "head"}}
    {{/block}}
</head>
<body>
    {{#block "header"}}
        <div>header</div>
    {{/block}}
    {{#block "body"}}
        <div>body</div>
    {{/block}}
    {{#block "footer"}}
        <div>footer</div>
    {{/block}}

    {{#block "foot"}}
        <div>foot</div>
    {{/block}}
</body>
</html>